<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单数据</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 阻止表单默认提交行为 -->
        <form @submit.prevent="demo">
            <!-- v-model.trim去掉前后空格 -->
            账号: <input type="text" name="account" v-model.trim="userInfo.account"> <br>
            密码: <input type="password" name="password" v-model="userInfo.password"><br>
            <!-- input type number是指定只能输入数字  v-model.number是将收集到的转换为数字（转换） -->
            年龄: <input type="number" name="age" v-model.number="userInfo.age"><br>
性别：男<input type="radio" name="sex" v-model="userInfo.sex" value="male"> 
     女<input type="radio" name="sex" v-model="userInfo.sex" value="female"> <br>
爱好：学习<input type="checkbox" name="hobby" v-model="userInfo.hobby" value="study"> 
     打游戏<input type="checkbox" name="hobby" v-model="userInfo.hobby" value="game"> 
     吃饭<input type="checkbox" name="hobby" v-model="userInfo.hobby" value="eat"> <br>
 所属校区 <select v-model="userInfo.address">
    <option value="">请选择所属校区</option>
    <option value="beijing">北京</option>
    <option value="xian">西安</option>
    <option value="changsha">长沙</option>
    <option value="suzhou">苏州</option>
 </select> <br>
 <!-- v-model.lazy失去焦点再获取数据 -->
 其他信息: <textarea v-model.lazy="userInfo.other"></textarea> <br>
 <input type="checkbox" v-model="userInfo.isAgree">阅读并接受 <a href="#">《用户协议》</a> <br>
 <button>提交</button>
        </form>
    </div>
</body>
<script>
      Vue.config.productionTip = false,
    new Vue({
        el:'#root',
        data:{
           userInfo:{
            account:'',
            password:'',
            age:'',
            sex:'male',
            hobby:[],
            address:'',
            other:'',
            isAgree:'ture',
           }
},
methods: {
    demo:function(){
        console.log(JSON.stringify(this.userInfo))
    }
},
    })
</script>
</html>