<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>列表过滤</title>
<script src="../js/vue.js"></script>
</head>
<body>
 <div id="root">
 <h2>人员列表</h2>
 <input type="text" placeholder="请输入名字" v-model="keyWord">
  <!-- 遍历数组 -->
<ul>
    <li v-for="(p,index) of  filPersons" :key="p.id">{{p.name}}-{{p.age}}-{{p.sex}}</li>
</ul>
 </div>
</body>
<script>
//   new Vue({
//  el:'#root',
// data:{
//   // 利用v-model收集用户输入
//   keyWord:'',
//  persons:[
//  {
//  id:'001',name:'马冬梅',age:18  ,sex:'女'
// },
//  {
//  id:'002',name:'周冬雨',age:19  ,sex:'女'
// },
//  {
//  id:'003',name:'周杰伦',age:20 ,sex:'男'
// },
// {
//  id:'004',name:'巴比伦',age:20 ,sex:'男'
// }
// ],
// filPersons:[]

// },
// watch:{
//   keyWord:{
//     // 先调用一次
//     immediate:true,
//     handler(val){
// // console.log('keyword is change',val);
// // 过滤
// this.filPersons = this.persons.filter((person)=>{
// return person.name.indexOf(val) !==-1
// }
// )
//   }
// }
// }

//  }
// )

// 用computed实现
new Vue({
  el:'#root',
  data:{
    keyWord:'',
    persons:[
      {id:'001',name:'马冬梅',age:18 ,sex:'女'},
      {id:'002',name:'周冬雨',age:19 ,sex:'女'},
      {id:'003',name:'周杰伦',age:20 ,sex:'男'},
      {id:'004',name:'巴比伦',age:20 ,sex:'男'}
    ]
  },
  computed:{
    filPersons(){
        // 函数体
       return this.persons.filter((p)=>{
          return p.name.indexOf(this.keyWord) !==-1
          })
    }
  }
})
</script>
</html>
